@model Olimpiada.Controllers.CompetitionsDetailViewModel

<h1>Starty sportowca ID: @Model.AthleteId</h1>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Dyscyplina</th>
        <th>Wydarzenie</th>
        <th>Olimpiada</th>
        <th>Sezon</th>
        <th>Wiek sportowca</th>
        <th>Medal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var competition in Model.Competitions)
    {
    <tr>
        <td>@competition.SportName</td>
        <td>@competition.EventName</td>
        <td>@competition.Olympics</td>
        <td>@competition.Season</td>
        <td>@(!string.IsNullOrEmpty(competition.AthleteAge) ? competition.AthleteAge : "Brak danych")</td>
        <td>@competition.Medal</td>
    </tr>
    }
    </tbody>
</table>
<a href="/athletes" class="btn btn-primary">Powrót do listy sportowców</a>
